.form-logo {
	width: 100px;
	height: 100px;
}

.container_wrap {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.login-link {
	transition: all .15s;
}

.login-link:hover {
	text-decoration: underline;
}

.login-block {
	transition: .2s;
	padding: 50px;
}

.login-input-text {
	color: #404040;
}


.login-text {
	font-size: 23px;
	color: #272727;
	text-align: center;
}

.login-little-text {
	font-size: 18px;
	color: #404040;
	text-align: center;
}

.form_tips {
	margin-top: 1rem;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}